body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}



.section{
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 97vh;
    scroll-snap-align: start;

}

.section{
    background-color: rgb(135, 135, 255);

}

.two{
    background-color: rgb(255, 181, 135);

}

.three{
    background-color: rgb(250, 126, 248);

}